.pet-crud-container {
  padding: 20px;
}

.pet-crud-form-card {
    padding: 20px;
    min-height: 500px;
  }
  
  .pet-crud-form-title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.015em;
    color: #263238;
    margin-bottom: 30px;
  }
  
  .margin-botton-15 {
    margin-bottom: 15px;
  }
  
  .label-form {
    font-size: 16px;
    font-weight: 700;
    color: #9E9E9E;
    margin-bottom: 5px;
  }
  
  .pet-crud-buttons-container {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
  }
  
  .pet-crud-button {
      height: 50px;
      width: 110px;
      border-radius: 10px;
      font-weight: bold;
  }
  
  .button-rigth {
      color: #FFF;
      background-color: #407bff;
  }
  
  .pet-crud-select__control{
    border-radius: 10px !important;
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;
    height: 50px;
  }
  
  .pet-crud-select__placeholder {
    color: #9E9E9E !important;
  }
  
  .pet-crud-select__indicator-separator {
    display: none;
  }

  .pet-message-form {
    font-size: 12px;
    color: #407bff;
  }
  
  @media (min-width: 576px) {
    .pet-crud-container {
      padding: 40px;
    }

    .pet-crud-form-card {
      padding: 40px;
    }

      .pet-crud-buttons-container {
        justify-content: flex-end;
      }
  
      .pet-crud-button {
          margin-left: 30px;
          width: 250px;
      }
    }
